python-docx
unstructured
chromadb
langchain-openai
rank_bm25
pdf2image
opencv-python
unstructured_inference
pikepdf
openpyxl
python-dotenv
jsonlines
markdown
datasets
rouge
word2number
ragatouille
unstructured_pytesseract
pytesseract
